
.home {
    margin-top: 60px;
  }
  
.desc {
    color: #666;
    font-size: 18px;
    margin-top: 8px;
  }
  
.todoList {
    margin-top: 24px;
  }

.about {
    margin-top: 60px;
  }
  

  
  /* Gloable */
  .container{
    width: 100%;
    max-width: 800px;
    padding: 0px 20px;
    margin: auto;
  }
  
  .fixedBtn {
    display: none;
    border: none;
    border-radius: 8px;
    margin-left: 16px;
    height: 48px;
    padding: 0px 14px;
    font-size: 18px;
    background-color: green;
    color: #fff;
    position: fixed;
    bottom: 20px;
    margin: 0;
    left: 20px;
    right: 20px;
  }
  
  @media screen and (max-width: 400px) {
    .fixed-btn {
      display: block;
    }
  }