 .todoItem {
    background-color: #f6f6f6;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    margin-top: 16px;
  }
  
.todoItem p {
    font-size: 22px;
  }
  
.todoItem button {
    border: none;
    background-color: #fff;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    border: 1px solid #ff0000;
    color: #ff0000;
  }